<h1>Admin home</h1>
<h2>President</h2>
<%= link_to 'Add', admin_president_new_path%>
<%= link_to 'List', admin_president_list_path%><br>
<h2>Video</h2>
<%= link_to 'Add', admin_video_new_path%>
<%= link_to 'List', admin_video_list_path%><br>
