.panel.large10.columns
  %h1
  Video:
  = @video['title']

  %p
  %h4 Except:
  = @video['excerpt'] 

  %p
  = Haml::Engine.new(@video['before_content']).render

%html
  %body
    #player
    :javascript
    
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'M7lc1UVf-VE',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }


      function onPlayerReady(event) {
	
        event.target.playVideo();
      }

      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
             player.seekTo(13,true); 
             player.stopVideo();
             done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
  %p
  = Haml::Engine.new(@video['after_content']).render
